{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/employee.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">{% endblock %} {% block title %}
<title>Preshot/Employee</title>
{% endblock %} {% block content %}
<!-- Contact Card ~ #01 -->
{% if file %}

<div class="employee-card" id={{file.id}}>
    <div class="employee-profile">
        <div class="banner">
            <!---onlcick to get the link of this emplyee and send it to the API using the Id(link)-->
            <img src=/{{file.filename}} alt="pic1">
            <h3>{{ file.firm }}</h3>
            <h4>{{ file.position }}<br>{{ file.name }}</h4>
        </div>
        <div class="contact-button">
            <a href={{file.link}}><button><span class="fas fa-comments"></span>話を聞いてみる</button></a>
        </div>
        <div class="employee-status">
            <div class="employee-status-container">
                <div class="texter">
                    <p>- 内定先<br> <span>{{ file.firm }} ( {{ file.industry }} ) / {{ file.position }} </span></p>
                </div>
                <div class="texter">
                    <p>- 学部<br> <span>{{ file.faculty }}</span></p>
                </div>
                <div class="texter">
                    <p>- 研究会領域<br><span>{{ file.lab }}</span></p>
                </div>
                <div class="texter">
                    <p>- サークル・体育会<br><span>{{ file.club }}</span></p>
                </div>
            </div>
        </div>

    </div>
</div>


</div>
{% else %}
<h2>No files</h2>
{% endif %} {% endblock content %} {% block script %} {% endblock %}