<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wdith, initial-scale=1.0,　user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='preshot_img/preshotlogo.png') }}"> {% block css %}{% endblock %}
    <!-- title-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {% block title %}{% endblock %}
</head>

<body>
    <header>
        <ul class="tab-nav">
            <li class="tab tab-logo">
                <a href="/"><img src="{{ url_for('static', filename='preshot_img/preshot_logo02.png') }}" alt="preshot_logo"></a>
            </li>
            <li class="tab left">
                <a href="/home" class="fas fa-address-card"></a>
            </li>
            <li class="tab center is-active">
                <a href="/profile" class="fas fa-cogs"></a>
            </li>
            <li class="tab right is-active">
                <a href="/logout" class="fas fa-sign-out-alt"></a>
            </li>
        </ul>

    </header>

    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    {% block script %}{% endblock %}

    <script>
        $(document).ready(function() {
            $('.alert').slideDown(500, function() {
                $(this).delay(1000).slideUp(500);
            });
        });
    </script>

</body>

</html>