{% extends "layout.html" %}

{% block css %}
{% endblock %} 

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="col-sm-4 text-left">
        <p class="text-gray-800"></p>
        <img style="width: 40%; height: auto;" src={{image}}>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">BigQuery logs</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size: 13pt; line-height: 170%;">
                    <thead>
                        <tr>
                            <th>event_name</th>
                            <th>event_category</th>
                            <th>event_action</th>
                            <th>firebase_screen</th>
                            <th>event_label</th>
                            <th>event_label2</th>
                        </tr>
                    </thead>
                    {% if logs %} 
                    {% for log in logs %}
                    <tbody class="table table-striped">
                        <tr>
                            <td>{{ log.event_name }}</td>
                            <td>{{ log.event_category }}</td>
                            <td>{{ log.event_action }}</td>
                            <td>{{ log.firebase_screen }}</td>
                            <td>{{ log.event_label }}</td>
                            <th>{{ log.event_label2 }}</th>
                        </tr>
                    </tbody>
                    {% endfor %} 
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock content %}

{% block script %}
<script>
    function submit_entry() {
        
        var email = document.getElementById("email");
        var password = document.getElementById("password");
        var name = document.getElementById("name");
        var industry = document.getElementById("industry");

        var entry = {
            email: email.value,
            password: password.value,
            name: name.value,
            industry: industry.value
        }
        console.log(entry)

        fetch(`${window.origin}/profile`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        }) 
        .then(function (response) {

            if (response.status != 200) {
                console.log(`response status was not 200: ${response.status}`);
                return ;
            }

            response.json().then(function (data) {
                location.reload();
                console.log(data)
            })
        })
    }
</script>
{% endblock %}
