{% extends "layout.html" %}

{% block css %}
{% endblock %} 

{% block title %}
<title>Applog - Log screen</title>
{% endblock %} 

{% block nav %}
<div class="nav-item">
    <a class="nav-link" href="screen">
        <i class="fas fa-chevron-left"></i>
    </a>
</div>
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 text-left" style="font-size: auto;">
            <p class="text-gray-800">sample</p>
            <img style="width: 100%; height: auto;" src={{image}}>
        </div>

        <!-- DataTales Example style="font-size: 10pt; line-height: 140%;"-->
        <table class="table table-responsive mt-5 col-sm-9" style="font-size: 10pt; line-height: 140%;">
            <thead>
                <tr>
                    <th scope="col">event_name</th>
                    <th scope="col">event_category</th>
                    <th scope="col">event_action</th>
                    <th scope="col">firebase_screen</th>
                    <th scope="col">event_label</th>
                    <th scope="col">event_label2</th>
                    <th scope="col">delete</th>
                </tr>
            </thead>
            {% if logs %} 
            {% for log in logs %}
            <tbody class="table">
                <tr>
                    <td>{{ log.event_name }}</td>
                    <td>{{ log.event_category }}</td>
                    <td>{{ log.event_action }}</td>
                    <td>{{ log.firebase_screen }}</td>
                    <td>{{ log.event_label }}</td>
                    <td>{{ log.event_label2 }}</td>
                    <td><i class="fas fa-check-square" style="font-size: 15pt; color: #4e73df;"></i></td>
                </tr>
            </tbody>
            {% endfor %} 
            {% endif %}
            <tbody class="table">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn" type="button" data-toggle="modal" data-target="#modal1">
                            <i class="fas fa-plus-circle" style="color: #4e73df;"></i>
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.container-fluid -->
  
<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title font-weight-bold mx-auto" id="exampleModalLabel">Log</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/addlog" method="POST">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">event_name</label>
                        <fieldset>
                            <label class="col-form-label" for="Marketer">Screen_view</label>
                            <input id="Marketer" class="radio-inline__input" type="radio" name="accessible-radio" value="item-1" checked="checked"/>
                            <label class="col-form-label" for="PdM">Custom_event</label>
                            <input id="PdM" class="radio-inline__input" type="radio" name="accessible-radio" value="item-2"/>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">event_category</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">event_action</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">firebase_screen</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">event_label</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">event_label2</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1" onclick="posts_post_func();">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- モーダルの設定
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title font-weight-bold mx-auto" id="exampleModalLabel">QUESTION</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
                <div class="pt-2 pb-3">
                    <fieldset>
                        <input id="Marketer" class="radio-inline__input" type="radio" name="accessible-radio" value="item-1" checked="checked"/>
                        <label class="radio-inline__label" for="Marketer">Screen_view</label>
                        <input id="PdM" class="radio-inline__input" type="radio" name="accessible-radio" value="item-2"/>
                        <label class="radio-inline__label" for="PdM">Custom_event</label>
                    </fieldset>
                </div>
                <div class="modal-body d-block">
                    <label for="text" class="col-form-label font-weight-bold pb-3">メールアドレス</label> 
                    <div><input id="email" name="email" placeholder="コメントが来た際に通知を受け取る場合はemailを入力" class="input-title rounded" required="required" type="text" required></div>
                    <label for="text" class="col-form-label font-weight-bold pt-4 pb-3">タイトル</label> 
                    <div><input id="title" name="title" placeholder="質問のタイトルを入力" class="input-title rounded" required="required" type="text" required></div>
                    <label for="textarea" class="col-form-label pt-4 pb-3 font-weight-bold">本文</label> 
                    <div><textarea id="text" name="text" type="text" placeholder="質問の本文を入力..." class="input-text rounded" cols="40" rows="7.5" required></textarea></div>
                </div>
                <div class="pt-2 pb-5">
                    <button type="button" class="mx-auto btn-post btn btn-group-lg bg-growth btn-block text-white" data-toggle="modal" data-target="#modal1" onclick="posts_post_func();">質問する</button>
                </div>
            </form>
        </div>
    </div>
</div> -->

<!-- End of Main Content -->
{% endblock content %}

{% block script %}
<script>
    function add_log() {
        
        var email = document.getElementById("email");
        var password = document.getElementById("password");
        var name = document.getElementById("name");
        var industry = document.getElementById("industry");

        var entry = {
            email: email.value,
            password: password.value,
            name: name.value,
            industry: industry.value
        }
        console.log(entry)

        fetch(`${window.origin}/profile`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        }) 
        .then(function (response) {

            if (response.status != 200) {
                console.log(`response status was not 200: ${response.status}`);
                return ;
            }

            response.json().then(function (data) {
                location.reload();
                console.log(data)
            })
        })
    }
</script>
<script>
    $('#modal1').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
    });
</script>

{% endblock %}