{% extends "layout.html" %}

{% block css %}
{% endblock %} 

{% block title %}
<title>Applog - Log screen</title>
{% endblock %} 

{% block nav %}
<div class="nav-item">
    <a class="nav-link" href="screen">
        <i class="fas fa-chevron-left"></i>
    </a>
</div>
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 text-left" style="font-size: auto;">
            <p class="text-gray-800">sample</p>
            <img style="width: 100%; height: auto;" src={{image}}>
        </div>

        <!-- DataTales Example style="font-size: 10pt; line-height: 140%;"-->
        <table class="table table-responsive mt-5 col-sm-9" style="font-size: 10pt; line-height: 140%;">
            <thead>
                <tr>
                    <th scope="col">event_name</th>
                    <th scope="col">event_category</th>
                    <th scope="col">event_action</th>
                    <th scope="col">firebase_screen</th>
                    <th scope="col">event_label</th>
                    <th scope="col">event_label2</th>
                    <th scope="col">check</th>
                </tr>
            </thead>
            {% if logs %} 
            {% for log in logs %}
            <tbody class="table">
                <tr>
                    <td>{{ log.event_name }}</td>
                    <td>{{ log.event_category }}</td>
                    <td>{{ log.event_action }}</td>
                    <td>{{ log.firebase_screen }}</td>
                    <td>{{ log.event_label }}</td>
                    <td>{{ log.event_label2 }}</td>
                    <td><i class="fas fa-check-square" style="font-size: 15pt; color: #4e73df;"></i></td>
                </tr>
            </tbody>
            {% endfor %} 
            {% endif %}
            <tbody class="table">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn" type="button" data-toggle="modal" data-target="#modal1">
                            追加する
                            <!-- <i class="fas fa-plus-circle" style="color: #4e73df;"></i> -->
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock content %}

{% block script %}
<script>
    function add_log() {
        
        var email = document.getElementById("email");
        var password = document.getElementById("password");
        var name = document.getElementById("name");
        var industry = document.getElementById("industry");

        var entry = {
            email: email.value,
            password: password.value,
            name: name.value,
            industry: industry.value
        }
        console.log(entry)

        fetch(`${window.origin}/profile`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        }) 
        .then(function (response) {

            if (response.status != 200) {
                console.log(`response status was not 200: ${response.status}`);
                return ;
            }

            response.json().then(function (data) {
                location.reload();
                console.log(data)
            })
        })
    }
</script>
<script>
    $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
});
</script>

{% endblock %}