{% extends "layout.html" %}

{% block title %}
<title>Applog - Project screen</title>
{% endblock %} 

{% block nav %}
<div class="nav-item">
    <a class="nav-link" href="screen">
        <i class="fas fa-chevron-left"></i>
    </a>
</div>
{% endblock %}

{% block content %}
<form action="/project" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Project name</label>
        <input type="text" name="project_name" class="form-control" id="exampleFormControlInput1" required>
        <label for="exampleInputEmail1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleFormControlInput1" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
{% endblock content %}