{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.css') }}">
{% endblock %} 

{% block title %}
<title>ホーム画面</title>
{% endblock %} 


{% block content %}
{% if screens %} 
{% for screen in screens %}
<div class="col-sm text-center" id={{screen.screen_id}}>
    <h3>{{ screen.screen_name }}</h3>
    <a href="/log/{{screen.screen_id}}">
        <img class="img-fluid" style="max-width: 50%; height: auto;" src={{screen.screen_image_name}}>
    </a>
</div>


{% endfor %} 
{% else %}
<h2>No Screens</h2>
{% endif %}


{% endblock content %}