{% extends "layout.html" %} 

{% block css %}
{% endblock %} 

{% block title %}
<title>Applog - スクリーン投稿画面</title>
{% endblock %} 

{% block nav %}
<div class="nav-item">
    <a class="nav-link" href="screen">
        <i class="fas fa-chevron-left"></i>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="upload">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="formGroupExampleInput">スクリーン名を入力</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="screen_name" required>
        </div>
        <!-- <div class="form-group">
            <label for="exampleFormControlSelect1">Screen Caetgory</label>
            <select class="form-control" id="exampleFormControlSelect1" name="screen_category" required>
            <option value="カテゴリーを選択してくだい" selected>カテゴリーを選択してくだい</option>
            <option value="p2p" >p2p</option>
            <option value="home">home</option>
            </select>
        </div> -->

        <div class="form-group">
            <label for="exampleFormControlFile1">スクリーンを投稿</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="screen_image_name" required>
        </div>

        <button class="btn btn-primary mb-2" type="submit">送信</button>
    </form>


</div>
{% endblock content %} {% block script %}

{% endblock %}