{% extends "layout.html" %} 

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}"> 
{% endblock %} 

{% block title %}
<title>アップロード画面</title>
{% endblock %} 

{% block content %}
<div class="upload">
    <form action="/upload" method="POST" enctype="multipart/form-data">


        <div class="form-group">
            <label for="formGroupExampleInput">Firebase Screen Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="screen_name" placeholder="p2p_chat" required>
        </div>


        <div class="form-group">
            <label for="exampleFormControlSelect1">Screen Caetgory</label>
            <select class="form-control" id="exampleFormControlSelect1" name="screen_category" size="1" required>
            <option value="カテゴリーを選択してくだい" selected>カテゴリーを選択してくだい</option>
            <option value="p2p" >p2p</option>
            <option value="home">home</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile1">Upload an UI image</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>


        <button class="btn btn-primary mb-2" type="submit">送信</button>
    </form>


</div>
{% endblock content %} {% block script %}

<!-- <script>
    function submit_entry() {

        var image = document.getElementById("image");
        var name = document.getElementById("name");
        var link = document.getElementById("link");
        var faculty = document.getElementById("faculty");
        var firm = document.getElementById("firm");
        var industry = document.getElementById("industry");
        var position = document.getElementById("position");
        var lab = document.getElementById("lab");
        var club = document.getElementById("club");

        var entry = {
            image: image.value,
            name: name.value,
            link: link.value,
            faculty: faculty.value,
            firm: firm.value,
            industry: industry.value,
            position: position.value,
            lab: lab.value,
            club: club.value,
        }
        console.log(entry)

        fetch(`${window.origin}/upload`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
            .then(function(response) {

                if (response.status != 200) {
                    console.log(`response status was not 200: ${response.status}`);
                    return;
                }

                response.json().then(function(data) {
                    console.log(data)
                })
            })
    }
</script> -->
{% endblock %}